<nav id="primary-nav">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#">About</a></li>
    <li role="presentation"><a href="#">Work</a></li>
    <li role="presentation"><a href="#">Testimonials</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
  </ul>
</nav>

