<div class=".mobile-wrapper">
  <h1>Testimonials</h1>

  <article>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/brooke-mcintyre.jpg" alt="Brooke McIntyre">
        <p>"We are adopting the team's recommendation for site architecture ... content and overall design. Adrian and the team were a pleasure to work with."</p>
        <h4>Brooke McIntyre</h4>
        <h4 class="job-role">Founder, Inked Voices</h4>

      </div> 
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/jeffrey-campomanes.jpg" alt="Jeffrey Campomanes">
        <p>"Adrian is an great developer. Adrian has a keen eye for detail when it comes to UX design as he cares about both functionality and the user experience."</p>
        <h4>Jeffrey Campomanes</h4>
        <h4 class="job-role">Web Developer Specialist, Rakuten Marketing</h4 class="job-role">
      </div>
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/kelly-faetanini.jpg" alt="Kelly Faetanini">
        <p>"[Adrian] is highly creative but also pays close attention to ensure that the company's mission and message to the customer are aligned."</p>
        <h4>Kelly Faetanini</h4>
        <h4 class="job-role">Founder/Designer, Kelly Faetanini</h4 class="job-role">
      </div>
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/john-heon.jpg" alt="John Heon, PhD">
        <p>"Adrian did fantastic work on all aspects of digital/graphic design and new media promotions for PISA. I worked closely with Adrian for three years, and knew I could always count on him."</p>
        <h4>John Heon, PhD</h4>
        <h4 class="job-role">Educational Consultant</h4 class="job-role">
      </div>
    </div>

  </article>
</div>









<!-- DESKTOP VERSION -->


<div class="desktop-wrapper">
  <h1>Testimonials</h1>

  <article>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/brooke-mcintyre.jpg" alt="Brooke McIntyre">
        <p>"Adrian worked with Inked Voices to improve the flow and usability of our pages for non-members considering signing up. One of Adrian's main contributions was to recommend a revised site architecture. We are adopting the team's recommendation for site architecture and following many of their recommendations on content and overall design. Adrian and the team were a pleasure to work with."</p>
        <h4>Brooke McIntyre</h4>
        <h4 class="job-role">Founder, Inked Voices</h4>

      </div> 
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/jeffrey-campomanes.jpg" alt="Jeffrey Campomanes">
        <p>"Adrian is an great developer … extremely organized ... very systematic and logical. He is very patient and is able to translate technical terms into layman's terms.On top of that, Adrian has a keen eye for detail when it comes to UX design as he cares about both functionality and the user experience."</p>
        <h4>Jeffrey Campomanes</h4>
        <h4 class="job-role">Web Developer Specialist, Rakuten Marketing</h4 class="job-role">
      </div>
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/kelly-faetanini.jpg" alt="Kelly Faetanini">
        <p>"One of my favorite qualities about Adrian is his ability to come up with endless ideas that are inventive and out-of-the box. He is highly creative but also pays close attention to ensure that the company's mission and message to the customer are aligned. Adrian is extremely organized, taking initiative to research his projects. He is a great team player and I truly enjoy working with and collaborating with him."</p>
        <h4>Kelly Faetanini</h4>
        <h4 class="job-role">Founder/Designer, Kelly Faetanini</h4 class="job-role">
      </div>
    </div>

    <div class="testimonial col-md-3">
      <div class="margin-wrapper">
        <img src="/images/testimonials/john-heon.jpg" alt="John Heon, PhD">
        <p>"Adrian did fantastic work on all aspects of digital/graphic design and new media promotions for the Penn International Sustainability Association. I worked closely with Adrian for three years, and knew I could always count on him. He was a real team player who would get the job done even when the budget was tight and time was short."</p>
        <h4>John Heon, PhD</h4>
        <h4 class="job-role">Educational Consultant</h4 class="job-role">
      </div>
    </div>

  </article>
</div>

