<a href="/project/inked-voices">
  <div class="col-md-4 project title" id="inked-voices">
    <h3>Inked Voices</h3>
    <!-- <ul>
      <li>IA</li>
      <li>Wireframes</li>
      <li>Content strategy</li>
    </ul> -->
  </div>
</a>

<a href="/project/linkedin">
  <div class="col-md-4 project title" id="linkedin">
    <h3>LinkedIn</h3>
    <!-- <ul>
      <li>Usability testing</li>
      <li>Journey mapping</li>
      <li>Research</li>
    </ul> -->
  </div>
</a>

<a href="/project/yelp">
  <div class="col-md-4 project title" id="yelp">
    <h3>Yelp</h3>
    <!-- <ul>
      <li>Wireframes</li>
      <li>Interaction design</li>
      <li>Prototyping</li>
    </ul> -->
  </div>
</a>


<a href="/project/personal-website">
  <div class="col-md-4 project title" id="personal-website">
    <h3>Personal website</h3>
    <!-- <ul>
      <li>Front end</li>
      <li>Wireframes</li>
      <li>Ruby on rails</li>
    </ul> -->
  </div>
</a>


<a href="/project/colorappin">
  <div class="col-md-4 project title" id="colorappin">
    <h3>Colorappin</h3>
    <!-- <ul>
      <li>Ruby on rails</li>
      <li>Back end</li>
      <li>Front end</li>
    </ul> -->
  </div>
</a>

