<div class="col-md-4" class="project" id="inked-voices">
  <h3>Inked Voices</h3>
  <img src="" alt="">

  <ul>
    <li>Information architecture</li>
    <li>Wireframes</li>
    <li>Content strategy</li>
  </ul>
</div>

<div class="col-md-4" class="project" id="linkedin">
  <h3>LinkedIn</h3>
  <img src="" alt="">

  <ul>
    <li>Usability testing</li>
    <li>Journey mapping</li>
    <li>Research</li>
  </ul>
</div>

<div class="col-md-4" class="project" id="yelp">
  <h3>Yelp</h3>
  <img src="" alt="">

  <ul>
    <li>Wireframes</li>
    <li>Interaction design</li>
    <li>Prototyping</li>
  </ul>
</div>

<div class="col-md-4" class="project" id="personal-website">
  <h3>Personal website</h3>
  <img src="" alt="">

  <li>Ruby on rails</li>
  <li>Wireframes</li>
  <li>Front end</li>
</div>

