<div class="col-md-4">
  <h3>Wireframes</h3>
  <img src="" alt="">
</div>

<div class="col-md-4">
  <h3>Site maps</h3>
  <img src="" alt="">
</div>

<div class="col-md-4">
  <h3>Flows</h3>
  <img src="" alt="">
</div>

<div class="col-md-4">
  <h3>Prototypes</h3>
  <img src="" alt="">
</div>

<div class="col-md-4">
  <h3>Documents</h3>
  <img src="" alt="">
</div>

<div class="col-md-4">
  <h3>Research</h3>
  <img src="" alt="">
</div>