<div class="col-md-4 skill" id="wireframes" data-toggle="modal" data-target=".bs-example-modal-lg">
  <h3>Wireframes</h3>
</div>
<%= render 'home/work/skill_samples_partials/wireframes' %>

<div class="col-md-4 skill" id="site-maps">
  <h3>Site maps</h3>
</div>

<div class="col-md-4 skill" id="flows">
  <h3>Flows</h3>
</div>

<div class="col-md-4 skill" id="prototypes">
  <h3>Prototypes</h3>
</div>

<div class="col-md-4 skill" id="documents">
  <h3>Documents</h3>
</div>

<div class="col-md-4 skill" id="research">
  <h3>Research</h3>
</div>




