
<h1>Work</h1>
<nav>
  <h2>By case study</h2>
  <h2>By skills</h2>
</nav>


<section>

  <article id="case-studies">
    <%= render 'home/work/case_studies' %>
  </article>

  <article id="skills-showcase">
    <%= render 'home/work/skills_showcase' %>
  </article>

</section>

