<section id="work">
  <h1>Work</h1>
  <nav>
    <h2>By case study</h2>
    <h2>By skills</h2>
  </nav>

  
  <div>

    <article id="case-studies">
      <%= render 'home/work/case_studies' %>
    </article>

    <article id="skilss-showcase">
      <%= render 'home/work/skills_showcase' %>
    </article>

  </div>
  
</section>