
<h1>Work</h1>

<ul class="nav nav-pills" id="work-nav">
  <li role="presentation" id="skill-tab" class="active"><a href="#work">By Skill</a></li>
  <li role="presentation" id="project-tab"><a href="#work">By Project</a></li>
</ul>



<section>

  <article id="skill-samples">
    <%= render 'home/work/skill_samples' %>
  </article>

  <article id="project-samples">
    <%= render 'home/work/project_samples' %>
  </article>

</section>

