<section id="section-work">
  <h1>Work</h1>
  <nav>
    <ul>
      <li>By case study</li>
      <li>By skills</li>
    </ul>
  </nav>

  
  <div>
    <article><!-- case studies --></article>
    <article><!-- skills showcase --></article>
  </div>
  
</section>