<section id="section-about">
  <h1>About</h1>
  <p>I am a <strong>UX designer & web developer</strong>. I design the human-centered experience and translate it into code in an <strong>intuitive, efficient, and enjoyable</strong> manner. I believe in the power of bringing interdisciplinary fields of knowledge to <strong>tackle problems holistically</strong> so I am constantly learning and applying new skills.</p>

  <article class="col-md-6">
    <h2>My process</h2>
    <div>
      <%= render 'home/about/process' %>
    </div>
  </article>

  <article class="col-md-6">
    <h2>My tools</h2>
    <div>
      <%= render 'home/about/tools' %>
    </div>
  </article>
  
</section>