<%= render 'navigation/navbar_proj' %>
<main class="page-project" id="page-personal-website">
  
  <h1 style="color:red;">UNDER CONSTRUCTION</h1>

  <!-- title -->
  <section class="col-md-12">
    <!-- cover image -->
  </section>

  <!-- summary -->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h2>Problem</h2>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2>Solution</h2>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2>My role</h2>
      <p></p>
    </div>
  </section>

  <!-- research to understand problem -->
  <!-- what needs to be in a personal website? what do other sites have? -->
  <section class="col-md-12">
    <!-- research -->
    <div class="col-md-4"><!--img--></div>
    <div class="col-md-4">
      <h2>Research</h2>
      <p>
        <!-- looked at portfolios -->
        <!-- looked at websites -->
        <!-- consulted articles -->
      </p>
    </div>
    <div class="col-md-4">
      <!-- img -->
    </div>
  </section>

  <!-- defining: what will my site have? -->
  <section class="col-md-12">
    <div class="col-md-8">
      <%= image_tag('work/project-samples/personal-website/site-map.png') %>
    </div>
    <div class="col-md-4">
      <h2>Site map</h2>
      <p>
        After understanding what was needed in a personal site, I created a site map with pages, sections, and content. This site map is like a road map to the various sections I would need to code up and produce content for, and allowed me to see the project from a top-down view.
      </p>
    </div>
    <!-- time frame and ad hoc stuff -->
  </section>

  <!-- developing: obstacles and how it turned out -->
  <section class="col-md-12">
    <!-- wireframe -->
    <!-- reuse of code snippets 
        - I used my own template to keep styles consistent
        - I split my stylesheets up so the small changes that give branding to the case studies or various pages could be different without affecting the overall structure
    -->

  </section>

  <!-- What i'm working on now, and what I have in store -->
  <section class="col-md-12">
    <!-- fixing runtime-->
    <!-- refactoring code -->
    <!-- moving to wordpress to increase SEO -->
  </section>

</main>