<%= render 'navigation/project_navbar' %>

<!-- shows up on desktop -->
<main class="page-doc">
  <object class="doc-view" data="/pdfs/Adrian-Lin-Resume.pdf" type="application/pdf"/></object>

  <%= image_tag('/pdfs/Adrian-lin-Resume.png', :alt => 'Adrian Lin\'s resume', :class => 'm-doc-view') %>
</main>

