<section id="section-contact">
  <h1>Contact</h1>

  <!-- contact details -->
  <article>
    <ul>
      <li>adrianlin.nyc@gmail.com</li>
      <li>1-908-525-1360</li>
    </ul>
  </article>

  <!-- social media -->
  <article>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </article>
  
</section>