<!-- <div class="col-md-6"></div>
 -->
 <div class="transparent-wrapper col-md-6">
  <h1>Let's talk!</h1>

  <!-- contact details -->
  <article id="contact-details">

    <h3>
      <span class="glyphicon glyphicon-phone"></span>
      1-908-525-1360
    </h3>

    <h3>
      <span class="glyphicon glyphicon-envelope"></span>
      <a href="mailto:adrianlin.nyc@gmail.com">adrianlin.nyc@gmail.com</a>
    </h3>
  </article>

  <!-- <article id="contact-form">

    <a id="foxyform_embed_link_765167" href="http://www.foxyform.com/"></a>
    <script type="text/javascript">
    (function(d, t){
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.src = "https://www.foxyform.com/js.php?id=765167&sec_hash=44b58947663&width=350px";
       s.parentNode.insertBefore(g, s);
    }(document, "script"));
    </script>

  </article> -->


  <!-- social media -->
  <article id="contact-media">
    
    <div>
      <a href="https://www.linkedin.com/in/adrianmhlin">
        <img src="/images/contact/services/linkedin.png" alt="Adrian Lin's LinkedIn">
      </a>
    
      <a href="https://github.com/AdrianMhLin">
        <img src="/images/contact/services/github.png" alt="Adrian Lin's GitHub">
      </a>
    
      <a href="https://medium.com/@adrianmhlin">
        <img src="/images/contact/services/medium.png" alt="Adrian Lin's Medium">
      </a>
    
      <a href="https://www.quora.com/profile/Adrian-Mh-Lin-1">
        <img src="/images/contact/services/quora.png" alt="Adrian Lin's Quora">
      </a>
    
  <!--     <a href="https://www.pinterest.com/adrianmhlin/">
        <img src="/images/contact/services/pinterest.png" alt="Adrian Lin's Pinterest">
      </a> -->

  <!--     <a href="https://soundcloud.com/adrianmhlin">
        <img src="/images/contact/services/soundcloud.png" alt="Adrian Lin's SoundCloud">
      </a>
    
      <a href="https://twitter.com/AdrianMhLin">
        <img src="/images/contact/services/twitter.png" alt="Adrian Lin's Twitter">
      </a>
    
      <a href="http://instagram.com/adrianmhlin">
        <img src="/images/contact/services/instagram.png" alt="Adrian Lin's Instagram">
      </a>
    
      <a href="https://plus.google.com/+AdrianMhLin">
        <img src="/images/contact/services/gplus.png" alt="Adrian Lin's Google Plus">
      </a>   -->
    </div>
    

   
  </article>

</div>


