#contact {
	background-image: url('/images/contact/bg.jpg');
	background-size:cover;
	background-attachment: fixed;
	height:92vh;
}


#contact > div {
	float:right;
	margin:1vw 2vw 2vw 2vw;
}
#contact-media div, #contact-details {
	/*display:flex;*/
	justify-content:center;
	padding:1vw;
}

#contact-details h3 {
	margin: 1vw;
}

#contact-media {
	/*display:flex;
	justify-content:center;*/
/*	bottom: 5vw;
	position:relative;*/
}

#contact-media img {
	width: 5vw;
	margin: 0.5vw;
	/*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    filter: gray; 
    -webkit-transition: all .1s ease; */
}

/*#contact-media img:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

*/

/* mobile version */
@media screen and (max-width:500px) {
	#contact {background-image: url('/images/contact/m-bg.jpg')}
	#contact .transparent-wrapper {margin-top:50vh;}
	#contact img {width:8vh;}
	#contact a {font-size:1em;}
}