#contact {
	background-image: url('/images/contact/bg.jpg');
	background-size:cover;
	background-attachment: fixed;
	height:95vh;
}


#contact > div {
	float:right;
	margin:1vw 2vw 2vw 2vw;
}
#contact-media div, #contact-details {
	display:flex;
	justify-content:center;
}

#contact-details h3 {
	margin: 1vw;
}

#contact-media {
	display:flex;
	justify-content:center;
/*	bottom: 5vw;
	position:relative;*/
}

#contact-media img {
	width: 5vw;
	margin: 0.5vw;
	/*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    filter: gray; 
    -webkit-transition: all .1s ease; */
}

/*#contact-media img:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

*/