#contact {
	background-image: url('/images/contact/bg.jpg');
	background-size:cover;
	background-attachment: fixed;
	height:95vh;

}



#contact-media div, #contact-details {
	display:flex;
	justify-content:center;
}

#contact-details h3 {
	margin: 1vw;
}

#contact-media {
	display:flex;
	justify-content:center;
/*	bottom: 5vw;
	position:relative;*/
}

#contact-media img {
	width: 5vw;
	margin: 0.5vw;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .1s ease;  /* Transition for Webkit browsers */
}

#contact-media img:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

