
/* Primary Nav */
#primary-nav {
	font-size: 2.5vh;
	background-color:AliceBlue;
}
#primary-nav li a{
	color:#437070;
}
#primary-nav li:hover {
}


#primary-nav a.nav-active {
	color:darkturquoise;
	/*background-color:rgba(255,255,255,0.5);*/
}

#primary-nav .pdf-item {float:right;}



/* Projects-nav */
#projects-nav {
	background-color:gold;
	font-size:1.75vh;

}
#projects-nav li {
	float:left;
	color:brown;
}








/* FOOTER */
footer {
	display:flex;
	background-color: #437070;
}
footer p {
	margin: 0 auto;
	color:AliceBlue;
}