
.project-phase {
	clear:both;
	overflow:hidden;
}

.page-project section {padding:0;}
.page-project section > img {width:100%;}

.page-project div {
	min-height:20vh; /* check this */
	padding:5vh;
}