section {}
article {
	border: 1px dashed grey;
}


/* later get rid of above */
body {position:relative;}

section {
	clear:both;
	padding: 5vw;
}
section h1, article h2 {text-align: center;}


article img {width:100%;}



.page-pdf {
	width:100%;
}