section {}
article {}


/* later get rid of above */
body {
	/*position:relative;*/
	color:darkslategray;
	padding:0 !important;
}

section {
	clear:both;
	padding: 5vw;
}
section h1, article h2 {text-align: center;}


article img {width:100%;}


.hide {display:none;}

.page-pdf {
	width:100%;
}



body {
    padding-top: 20px;
    
}

.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 




