section {}
article {}


/* later get rid of above */
p, h3 {color:#437070;}
h1, h2 {color:#ffb31a;}

a, h1,h2,h3,h4,h5,h6 {font-family:calibri;}
p {font-family:palatino;}
p, a {font-size:1.25em;}

section {
	clear:both;
	padding: 5vw;
}
section h1, article h2 {text-align: center;}


article img {width:100%;}


.hide {display:none;}

.page-pdf {
	width:100%;
	height:100vh;
}
.pdf-view {
	width:100%; 
	max-height:100%;
	height:100%;
}


.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 

.transparent-wrapper {
	background-color:rgba(255,255,255,0.5);
	border-radius: 0.5vw;
	padding: 0.5vw 0 1vw 0;
}


