

/* mobile version */
@media screen and (max-width:500px) {
	#testimonials {
		background-image: url('/images/testimonials/m-bg.jpg');
		background-size:100%;
	}
	#testimonials .desktop-wrapper {display:none !important;}

}

/* desktop version */
@media screen and (min-width: 501px) {
	#testimonials .mobile-wrapper {display:none !important;}
	#testimonials {
		background-image: url('/images/testimonials/bg.jpg');
		
	}
}




#testimonials {
	background-attachment: fixed;
	background-size:cover;
	width:100%;
	height:100vh;
	
}
.testimonial .margin-wrapper {
	margin: 0.25vw;
	padding: 1vw;
	border-radius:1vw;
	background-color:rgba(0,0,0,0.5);
}
/*.testimonial .margin-wrapper div {
	background-color:rgba(0,0,0,0.6);
	padding:1vw;
	text-align: center;
}*/
.testimonial .margin-wrapper * {
	margin: 0 auto;
	display:block;
}
.testimonial p {
	text-align: left;
	color:AliceBlue;
	font-style:oblique;
	font-size:1.1em;
}
.testimonial h4 {
	text-align: center;
	color:#ffb31a;
}
.job-role {
	text-transform: uppercase;
	font-style:oblique;
}
.testimonial img {
	width:10vw;
	height:10vw;
	border-radius: 50%;
	border:0.35vw solid #ffb31a;
}