

#work article {
	clear:both;
	margin: 2vw 0 2vw 0;
}

#work section {
	padding:0;
	overflow:hidden; /* causes parent to expand to size of floated children */
}
#work .skill, #work .project {
	border: dashed 1px green;
	height:20vh;
	background-size:cover;
	cursor:pointer;
;
}

#designs {background-image:url('/images/work/skill-samples/designs/thumbnail.png');}
#project-management {background-image:url('/images/work/skill-samples/project-management/thumbnail.png');}
#information-architecture {background-image:url('/images/work/skill-samples/information-architecture/thumbnail.png');}
#coding {background-image:url('/images/work/skill-samples/coding/thumbnail.png');}
#documents {background-image:url('/images/work/skill-samples/documents/thumbnail.png');}
#user-research {background-image:url('/images/work/skill-samples/user-research/thumbnail.png');}


#inked-voices {background-image:url('');}
#linkedin {background-image:url('');}
#yelp {background-image:url('');}
#personal-website {background-image:url('');}

#work .nav {
	display:block;
	text-align: center;
}

#work .modal {min-height: 50vh;}