#work {
/*	background-image:url('/images/work/bg.jpg');
	background-attachment: fixed;
	background-size: cover;*/
	background-color:powderblue; /* paleturquoise */
}

#work article {
	clear:both;
	margin: 2vw 0 2vw 0;
}

#work section {
	padding:0;
	overflow:hidden; /* causes parent to expand to size of floated children */
}
#work .skill, #work .project {
	border: solid 1px gray;
	height:20vh;
	background-size:cover;
	cursor:pointer;
}

#work-nav, #work-pdfs {
	display:flex;
	justify-content:center;
}

#work-pdfs {
	padding:0 0 2vw 0;
	margin:1.5vw 0 0 0;
}

#work-pdfs a {
	margin:2vw 1.5vw 0 1.5vw;
	font-size:1.25em;
}


#designs {background-image:url('/images/work/skill-samples/designs/thumbnail.png');}
#project-management {background-image:url('/images/work/skill-samples/project-management/thumbnail.png');}
#information-architecture {background-image:url('/images/work/skill-samples/information-architecture/thumbnail.png');}
#coding {background-image:url('/images/work/skill-samples/coding/thumbnail.png');}
#documents {background-image:url('/images/work/skill-samples/documents/thumbnail.png');}
#user-research {background-image:url('/images/work/skill-samples/user-research/thumbnail.png');}


#inked-voices {background-image:url('');}
#linkedin {background-image:url('');}
#yelp {background-image:url('');}
#personal-website {background-image:url('');}

#work .nav {
	display:block;
	text-align: center;
}

#work .modal {min-height: 50vh;}

#work .title {
	padding:0;
}
#work .title h3 {
	background-color:rgba(255,255,255,0.60);
	padding:1vw;
	text-align: center;
	margin:0;
}




.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
	border: 1px solid teal;
	background-color:teal;
}

#work a {color:#437070;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color:teal;
	color:white !important;
}



