<nav id="primary-nav">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#top">Adrian Lin</a></li>
    <li role="presentation"><a href="#about">About</a></li>
    <li role="presentation"><a href="#work">Work</a></li>
    <li role="presentation"><a href="#testimonials">Testimonials</a></li>
    <li role="presentation"><a href="#contact">Contact</a></li>
    
    <!-- pdf items -->
    <li class="pdf-item">
      <a href="/portfolio" target="_blank">
        <span class="glyphicon glyphicon-blackboard"></span>
        Portfolio
      </a> 
    </li>
    <li class="pdf-item">
      <a href="/resume" target="_blank">
        <span class="glyphicon glyphicon-list-alt"></span>
        Resume
      </a>
    </li>
    
    
    
  </ul>



     

</nav>

