<nav id="primary-nav">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#about">About</a></li>
    <li role="presentation"><a href="#work">Work</a></li>
    <li role="presentation"><a href="#testimonials">Testimonials</a></li>
    <li role="presentation"><a href="#contact">Contact</a></li>
  </ul>
</nav>

