<nav id="projects-nav">
  <ul class="nav nav-pill">
    <li role="presentation"><a href="/projects/inked-voices">Inked Voices</a></li>
    <li role="presentation"><a href="/projects/linkedin">LinkedIn Projects</a></li>
    <li role="presentation"><a href="/projects/yelp">Yelp Itinerary</a></li>
    <li role="presentation"><a href="/projects/personal-website">Personal Website </a></li>
    <li role="presentation"><a href="/projects/colorappin">Colorappin</a></li>
  </ul>
</nav>